[Unit]
Description=Start the TouchpHAT Hue controller
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/PiHue/code/PiHueRoom.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
